
<%= render 'layouts/admin_page_header' %>


<div class="nav-header">
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>

<br>
<br>
<br>
<br>
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>

<br>
<br>
<br>
<br>
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>

<br>
<br>
<br>
<br>
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="dash-cards">
<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>

<div class="card-single">
    <div class="card-body">
        <span class="ti-briefcase"></span>
        <div>
            <h5>Account Balance</h5>
            <h4>$65,548.54</h4>
        </div>
    </div>
    <div class="card-footer">
        <a href="">View All</a>
    </div>
</div>
</div>
</div>