
<div class="main-dash">
     <h2 class="dash-title">Adv Campaign</h2>
     <hr>
     <div class="sub-links">
    <%= link_to 'Campaigin Data', campaign_index_path , id: 'campaign_index' %>
    <%= link_to 'Create Campaigin', create_campaigin_path , id: 'create_campaigin' %>
    <%= link_to 'Campaign Progress', campaign_Progress_path , id: 'campaign_progress' %>
    <%= link_to ' Capmaign Analytics ', capmaign_analytics_path, id: 'capmaign_analytics' %>
    <%#= link_to 'Activity Tracking', user_index_path , id: 'department' %>
    <%#= link_to 'Contact Analytics', user_index_path , id: 'adv_channel' %>
    <%#= link_to 'Potential Clients', user_index_path , id: 'roles' %>


     </div>
</div>
