
<div class="main-dash">
     <h2 class="dash-title">Contacts & Lead</h2>
     <hr>
     <div class="sub-links">
         <%= link_to 'Potential Clients','/potential_clients'  %>
         <%= link_to 'Follow-Up Activities','/follow_up_activities' %>
          <%= link_to 'Convert Contact','/convert_contact' %>
          <%= link_to 'Activity Tracking','/activity_cracking'  %>
          <%#= link_to 'Contact Analytics','/contact_analytics'  %>
          <%#= link_to 'Potential Clients','/campaign_Progress'  %>
          
     </div>
</div>